$white: #eff3f8;
$blue1: #b2c4df;
$blue2: #6689bf;
$blue3: #3d5272;
$black: #1e2939;

.modal-content {
  background-color: $blue1 !important;
}
.modal-body {
  background-color: $blue1;
}
.modal-footer,
.modal-header {
  background-color: $blue1;
  border: none;
}
.modal-footer {
  display: flex;
  justify-content: center;
  .btn {
    background: transparent;
    font-size: 20px;
    border-color: $white;
    font-family: 'Oswald', sans-serif;
  }
}
.btn {
  background-color: $blue1;
  border: none;
}
.btn:hover {
  background-color: $blue2;
}
.kep-login-facebook:hover {
  background-color: $blue2;
  border-color: $blue2;
}

.landing-container {
  width: 100vw;
  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    margin-left: 40px;
  }
  .main-bg {
    width: 100%;
    height: 100vh;
    background: url(../imgs/blue-controller-dualshock-18174.jpg) no-repeat
      center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .dim-bg {
    content: ' ';
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .hero {
    width: 100%;
    z-index: 11;
    h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 90px;
      color: $white;
      letter-spacing: 10px;
    }
    p {
      font-family: 'Righteous', cursive;
    }
  }

  .hero {
    //color/ui color variables
    $white: #ececec;
    $black: #111111;
    $red1: #1d2120;
    $red2: #c8e3e4;
    $colorPrimary: $red1;
    $colorSecondary: $red2;
    $cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    //split button mixin
    @mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
      .btn {
        //display: block;
        position: relative;
        letter-spacing: 0.15em;
        margin: 0 auto;
        padding: 1rem 2.5rem;
        background: transparent;
        outline: none;
        font-size: 28px;
        color: $textColor;
        transition: all 0.5s $cubic-bezier 0.15s;
        &::after,
        &::before {
          content: '';
          position: absolute;
          height: 40%;
          width: 10%;
          transition: all 0.5s $cubic-bezier;
          z-index: -2;
          border-radius: 50%;
          //animation: grow 1s infinite;
        }
        &::before {
          background-color: $backgroundColor;
          top: -0.75rem;
          left: 0.5rem;
          animation: top 2s $cubic-bezier 0.25s infinite alternate;
        }
        &::after {
          background-color: $foregroundColor;
          top: 3rem;
          left: 13rem;
          animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
        }
        &:hover {
          color: white;
          &::before,
          &::after {
            top: 0;
            //transform: skewx(-10deg);
            height: 100%;
            width: 100%;
            border-radius: 0;
            animation: none;
          }
          &::after {
            left: 0rem;
          }
          &::before {
            top: 0.5rem;
            left: 0.35rem;
          }
        }
      }
    }

    * {
      box-sizing: border-box;
    }
    body,
    html {
      height: 100%;
    }

    body {
      font-family: 'Oswald', serif;
      font-weight: 100;
      color: $black;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .btn-container {
      width: 324.2px;
      margin: auto;
      margin-top: 40px;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      color: #fff !important;
    }
    @keyframes top {
      from {
        transform: translate(0rem, 0);
      }
      to {
        transform: translate(0rem, 3.5rem);
      }
    }
    @keyframes bottom {
      from {
        transform: translate(-11.5rem, 0);
      }
      to {
        transform: translate(0rem, 0);
      }
    }

    @include btn__split($colorPrimary, $colorSecondary, $black);
  }
}
