$white: #eff3f8;
$blue1: #b2c4df;
$blue2: #6689bf;
$blue3: #3d5272;
$black: #1e2939;

.login-container {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: row;
  .login-module {
    width: 50%;
    padding: 0;
    background-color: $black;
    color: #bbbec3;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      background-color: #1e2939;
      border: 0;
      border-bottom: 1px solid #bbbec3;
      border-radius: 0px;
      color: $white;
      margin-bottom: 30px;
      box-shadow: none;
    }
    button {
      width: 100%;
      border-radius: 0;
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 50px;
      background-color: $blue2;
    }
    button:hover {
      background-color: $blue1;
    }
    button:focus {
      background-color: #bbbec3;
    }
    a {
      color: $blue2;
    }
    .input-container {
      width: 40%;
    }
  }
  .photo-module {
    width: 50%;
    .photo-bg {
      width: 100%;
      height: 100vh;
      background-image: url(../imgs/blur-close-up-device-442576.jpg);
      background-size: cover;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}


/* RESPONSIVE */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
  .photo-module{
    display: none;
  }
  .login-module{
    height: 100vh;
    width: 100%!important;
  }
}
@media screen and (max-width: 600px) {
  .input-container{
    width: 70%!important;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 300px) {
}
